<div class="register-container">

  <div class="register-card">

    <h2 class="title">Register</h2>

<form [formGroup]="store.registerForm" (ngSubmit)="store.register()">
      <div class="field">
        <input
          type="text"
          placeholder="User name"
          formControlName="userName"
        />
      </div>

      <div class="field">
        <input
          type="password"
          placeholder="Password"
          formControlName="password"
        />
      </div>

     @if (store.errorMsg()) {
  <p class="error">{{ store.errorMsg() }}</p>
}

@if (store.successMsg()) {
  <p class="success">{{ store.successMsg() }}</p>
}

      <button
  type="submit"
  [disabled]="store.registerForm.invalid || store.loading()"
>
      >
        @if (store.loading()) {
          נרשם...
        } @else {
          הרשמה
        }
      </button>

    </form>

    <p>
      כבר יש לך משתמש?
      <a routerLink="/login">כניסה</a>
    </p>

  </div>

</div>